@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body.no-scroll {
    overflow: hidden;
    touch-action: none;
    position: fixed;
    width: 100%;
}

/* NO 'PRESS BOX' */
a {
    -webkit-tap-highlight-color: transparent !important;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* FULLY TRANSPARENT */
    -webkit-tap-highlight-color: transparent;
    /* BACKUP ON PRESSIN'  */
}

a,
button,
[role="button"],
input,
textarea,
select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

a:focus,
button:focus,
input:focus {
    outline: none;
}