@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body.no-scroll {
    overflow: hidden;
    touch-action: none;
    position: fixed;
    width: 100%;
}

/* NO 'PRESS BOX' */
a {
    -webkit-tap-highlight-color: transparent;
}